@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hiddenFunction1{
  display: none;
}

.visibleFunction1{
  visibility:visible;
}

.hiddenFunction2{
  display: none;
}

.visibleFunction2{
  visibility:visible;
}

.hiddenFunction3{
  display: none;
}

.visibleFunction3{
  visibility:visible;
}

.hiddenFunction4{
  display: none;
}

.visibleFunction4{
  visibility:visible;
}

.hiddenFunction5{
  display: none;
}

.visibleFunction5{
  visibility:visible;
}

.hiddenFunction6{
  display: none;
}

.visibleFunction6{
  visibility:visible;
}

.no-truncate{
  overflow: none;
  text-overflow: none;
  white-space: none;
}


